a:hover, a {
    text-decoration: none;
    color: #8B78E6;
}

.button_default {
    background-color: #8B78E6;
    color: white;
}

.button_default:hover{
    background-color: white;
    color: #8B78E6;
}

.help-block {
    color: red;
}

.font-size-medium {
    font-size: 1.6rem;
}

.font-size-small {
    font-size: 1.2rem;
}

.font-size-xsmall {
    font-size: 1rem;
}