.main-content{
    margin-top: 5rem;
}

.bg-header-color{
    background-color: #8B78E6;
}

.app-header {
    margin: 0 auto;
    padding: 0;
    max-width: 75rem;
}

.input-width {
    width: 60%;
}
