<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/js/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/js/css/base.css}">
    <link rel="stylesheet" th:href="@{/js/css/response.css}">
    <title>Whoops!</title>
</head>
<body>
    <nav class="fixed-top bg-header-color py-4">
        <div class="app-header">
            <div class="d-flex justify-content-between align-items-center">
                <a th:href="@{/expenses}" class="text-white">
                  <span class="font-size-medium font-weight-bold">
                    Expense Manager
                  </span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container p-5 my-5 border container-top-margin">
        <h1>Under construction</h1>
        <p> The page you are looking is unavailable or may have been removed. Please check again later! </p>
        <a th:href="@{/expenses}" class="btn button_default">Back to Home Page</a>
    </div>

    <footer class="py-5">
        <div class="container">
            <p class="m-0 text-center text-dark">
                Copyright &copy; Expense Manager - 2022 Developed by Moose D
            </p>
        </div>
    </footer>

    <script th:src="@{/js/js/bootstrap.js}"></script>
</body>
</html>