<html xmlns:th="https://thymeleaf.org">
	<head>
		<title> Expense Manager - Expenses </title>
	</head>
	
	<body>
		<h1>List Of Expenses</h1>
		<hr/>

		<div>
			<a th:href="@{/createExpense}">Create Expense</a>
		</div>

		<table border="1">
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Date</th>
				<th>Actions</th>
			</thead>
		
			<tbody>
				<tr th:each="expense: ${expensesList}"> <!-- bind expense variable to expensesList model binded in controller -->
				
					<td th:text=${expense.name}></td>
					<td th:text=${expense.description}></td>
					<td th:text=${expense.amount}></td>
					<td th:text=${expense.dateString}></td>
					<td>
						<a th:href="@{/deleteExpense(id=${expense.expenseId})}"
						onclick="return confirm('Are you sure you want to delelte this expense?')">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		
		
	</body>
</html>

























