<html xmlns:th="https://thymeleaf.org">
	<head>
		<title> Expense Manager - Expenses </title>
		<link rel="stylesheet" th:href="@{/js/css/jquery-ui.css}"/>
		<link rel="stylesheet" th:href="@{/js/css/bootstrap.css}">
		<link rel="stylesheet" th:href="@{/js/css/base.css}">
		<link rel="stylesheet" th:href="@{/js/css/expenses-list.css}">
	</head>
	
	<body>
	<nav class="fixed-top bg-header-color py-4">
		<div class="app-header">
			<div class="d-flex justify-content-between align-items-center">
				<a th:href="@{/expenses}" class="text-white">
          <span class="font-size-medium font-weight-bold">
            Expense Manager
          </span>
				</a>
				<div>
					<a th:href="@{/logout}" class="font-size-small btn button_default">Logout</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="main-content">
		<div class="container-fluid bg-light py-4 mb-2">
			<div class="app-header">
				<h2 class="font-weight-light">
					Your expenses totalling of
					<span th:text="${totalExpenses} +'RSD'"></span>
				</h2>
				<div class="mt-4">
					<a th:href="@{/createExpense}" class="btn button_default">Create Expense</a>
				</div>
			</div>
		</div>

		<div class="app-header">
			<form th:action="@{/filterExpenses}" th:object="${filter}" method="get">
					<div class="row mb-2">
						<div class="col-md-2 col-sm-6 col-12 mb-2">
							<input type="text"
								   placeholder="Enter Keyword"
								   th:field="*{keyword}"
								   class="form-control"
							>
						</div>

					<div class="col-md-2 col-sm-6 col-12 mb-2">
						<select th:field="*{sortBy}" class="form-control">
							<option value="date">Date</option>
							<option value="amount">Amount</option>
						</select>
					</div>
					<div class="col-md-2 col-sm-6 col-12 mb-2">
						<input type="text"
							   id="startDate"
							   placeholder="Start date"
							   th:field="*{startDate}"
							   class="form-control"
						/>
					</div>
					<div class="col-md-2 col-sm-6 col-12 mb-2">
						<input type="text"
							   id="endDate"
							   placeholder="End date"
							   th:field="*{endDate}"
							   class="form-control"
						/>
					</div>
					<div class="col-12 col-sm-12 col-md-1">
						<input type="submit" value="Search" class="btn button_default form-control">
					</div>
				</div>
			</form>
			<div class="card mb-4">
				<div class="card-header card-background__header fw-bold">Expense
					<span class="float-end fw-bold">Amount</span>
				</div>
					<table border="1">
						<div class="border-bottom expense-item" th:each="expense: ${expensesList}">  <!-- bind expense variable to expensesList model binded in controller -->
							<a th:href="@{/updateExpense(id=${expense.expenseId})}">
								<div class="d-flex flex-row justify-content-between align-items-center px-3 pt-4 pb-2">
									<div>
										<h3 class="text-capitalize text-dark" th:text="${expense.name}"></h3>
										<span class="text-dark fst-italic" th:text="${expense.dateString}"></span>
									</div>
									<p class="text-dark font-size-xsm badge rounded-pill bg-warning" th:text="'RSD' +${expense.amount}"></p>
								</div>
							</a>
						</div>
					</table>
				</div>
			</div>
		</div>
	</div>

	<footer class="py-5">
		<div class="container">
			<p class="m-0 text-center text-dark">
				Copyright &copy; Expense Manager - 2022 Developed by Moose D
			</p>
		</div>
	</footer>

		<script th:src="@{/js/js/jquery.js}"></script>
		<script th:src="@{/js/js/jquery-ui.js}"></script>
		<script th:src="@{/js/js/bootstrap.js}"></script>
		<script th:src="@{/js/js/expenses-list.js}"></script>
	</body>
</html>

























