<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page - Expense Manager</title>
</head>
<body>
    <h1>Login</h1>
    <hr/>



    <div>
        <form id="loginForm" th:action="@{/login}" method="post">
            <div th:if="${param.error}">
                Invalid email or password
            </div>
            <div th:if="${param.logout}">
                You successfully logged out
            </div>
            <input type="text" name="email" placeholder="Enter email"/>
            <br><br>

            <input type="password" name="password" placeholder="Enter password"/>
            <br><br>

            <button type="submit">Login</button>
        </form>

        <a th:href="@{/register}">New here? Register now and start creating and tracking your expenses!</a>

    </div>

    <script th:src="@{/js/js/jquery.js}"></script>
    <script th:src="@{/js/js/jquery-validator.js}"></script>
    <script th:src="@{/js/js/login.js}"></script>
</body>
</html>