<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page - Expense Manager</title>
    <link rel="stylesheet" th:href="@{/js/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/js/css/base.css}">
    <link rel="stylesheet" th:href="@{/js/css/login.css}">
</head>
<body>

    <div class="box-layout justify-content-center">

        <div class="card box-layout__box text-center">

            <div class="card-header border-bottom-0 pb-0 bg-white">
                <h1 class="box-layout__title">Register</h1>
                <p class="box-layout__title">Signup today! And manage your expenses!</p>
            </div>

            <div class="card-body pt-0">

                <form th:action="@{/register}" th:object="${user}" method="post" id="registrationForm">
                    <input type="text"
                           placeholder="Enter name"
                           th:field="*{name}"
                           class="form-control mb-3"
                           autofocus="autofocus"
                    />
                    <span th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}"></span>

                    <input type="text"
                           placeholder="Enter email address"
                           th:field="*{email}"
                           class="form-control mb-3"
                    />
                    <span th:if="${#fields.hasErrors('email')}"
                          th:errors="*{email}"></span>

                    <input type="password"
                           placeholder="Enter password"
                           th:field="*{password}"
                           class="form-control mb-3"
                    />
                    <span th:if="${#fields.hasErrors('password')}"
                          th:errors="*{password}"
                    ></span>

                    <input type="password"
                           placeholder="Confirm password"
                           th:field="*{confirmPassword}"
                           class="form-control mb-3"
                    />

                    <button type="submit" class="btn- button_default form-control">Register</button>
                </form>
            </div>
            <div class="card-footer bg-white border-top-0">
                <span class="float-right">
                    Already have an Account? - <a th:href="@{/login}" class="base-color font-weight-bold">Login here</a>
                </span>
            </div>
        </div>
    </div>

    <script th:src="@{/js/js/jquery.js}"></script>
    <script th:src="@{/js/js/jquery-validator.js}"></script>
    <script th:src="@{/js/js/bootstrap.js}"></script>
    <script th:src="@{/js/js/registration.js}"></script>
</body>
</html>